In [1]:
# List of 10 numbers
numbers = [12, 45, 67, 23, 89, 34, 56, 78, 90, 11]

def list_stats(num_list):
    maximum = max(num_list)
    minimum = min(num_list)
    average = sum(num_list) / len(num_list)
    return maximum, minimum, average

# Call the function
max_num, min_num, avg_num = list_stats(numbers)

print("Numbers:", numbers)
print("Maximum:", max_num)
print("Minimum:", min_num)
print("Average:", round(avg_num, 2))

Numbers: [12, 45, 67, 23, 89, 34, 56, 78, 90, 11]
Maximum: 90
Minimum: 11
Average: 50.5

In [2]:
# Create a tuple
cities = ("Delhi", "Mumbai", "Chennai", "Kolkata", "Bangalore")

# Unpack into variables
city1, city2, city3, city4, city5 = cities

# Print each
print("City 1:", city1)
print("City 2:", city2)
print("City 3:", city3)
print("City 4:", city4)
print("City 5:", city5)

City 1: Delhi
City 2: Mumbai
City 3: Chennai
City 4: Kolkata
City 5: Bangalore

In [3]:
# Define two sets
cricket_players = {"Akshit", "Riya", "Aman", "Shubham", "Pragati"}
football_players = {"Riya", "Shubham", "Rahul", "Neha"}

# 1. Students who play both games (intersection)
both = cricket_players.intersection(football_players)

# 2. Students who play only one game (symmetric difference)
only_one = cricket_players.symmetric_difference(football_players)

# Display results
print("Cricket Players:", cricket_players)
print("Football Players:", football_players)
print("\nPlayers who play both games:", both)
print("Players who play only one game:", only_one)

Cricket Players: {'Akshit', 'Aman', 'Shubham', 'Pragati', 'Riya'}
Football Players: {'Rahul', 'Neha', 'Shubham', 'Riya'}

Players who play both games: {'Riya', 'Shubham'}
Players who play only one game: {'Neha', 'Akshit', 'Aman', 'Rahul', 'Pragati'}

In [4]:
# Create a dictionary
students = {
    "Akshit": 88,
    "Riya": 92,
    "Shubham": 76,
    "Pragati": 95,
    "Aman": 81
}

# Find student with highest marks
topper = max(students, key=students.get)

print("All Students and Marks:")
for name, marks in students.items():
    print(f"{name}: {marks}")

print("\nTopper:", topper)
print("Highest Marks:", students[topper])

All Students and Marks:
Akshit: 88
Riya: 92
Shubham: 76
Pragati: 95
Aman: 81

Topper: Pragati
Highest Marks: 95

In [5]:
# Shopping cart dictionary
cart = {
    "Milk": 50,
    "Bread": 40,
    "Eggs": 70,
    "Butter": 120,
    "Juice": 80
}

# Calculate total bill
total = sum(cart.values())

# Print items and total
print("üõçÔ∏è Shopping Cart:")
for item, price in cart.items():
    print(f"{item}: ‚Çπ{price}")

print("\nTotal Bill: ‚Çπ", total)

üõçÔ∏è Shopping Cart:
Milk: ‚Çπ50
Bread: ‚Çπ40
Eggs: ‚Çπ70
Butter: ‚Çπ120
Juice: ‚Çπ80

Total Bill: ‚Çπ 360